   * {
            box-sizing: border-box;
        }

        header {
            background-color: rgba(31, 41, 55, 0.8);
        }

        .flex-container {
            display: flex;
            margin: auto;
            justify-content: space-between;
            width: 80%;



        }

        nav {
            display: flex;
            justify-content: space-around;
            width: 20%;
        }

        .main {
            display: flex;
            margin: auto;
            width: 25%;
            height: 500px;
            justify-content: space-between;
            align-items: center;
            margin-left: 180px;
            margin-right: 500px;
        }

        .letsgo {
            display: flex;
            margin: auto;
            justify-content: space-around;
            min-height: 250px;
            width: 50%;



        }

        .main-2 {

            margin-left: 10px;
            justify-content: space-around;
            width: 180px;

        }

        img {
            width: 350px;
            margin: 100px;
            height: 250px;
            ;
        }

        .letsgo div {
            border: 3px solid lightblue;
            padding: 10px;
            margin: 20px;
            flex: 1 1 auto;
            border-radius: 10%;
            width: 1px;
            color: rgba(31, 41, 55, 0.8);
        }

        .quote {
            display: flex;
            padding: 100px;
            background-color: grey;
            margin: 0px;
        }

        .quote blockquote {
            margin: auto;
            width: 150px;
        }